* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0)
}

h1 {
    color: #FFC964;
}

.row {
    background: white;
    border-radius: 50px;
}

img {
    border:none;
}

.loginBtn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #F2C97B;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.searchBtn {
    border: none;
    outline: none;
    height: 38px;
    width: 38px;
    background-color: #F2C97B;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.loginBtn:hover {
    transition: 1s;
    background: #FFB223;
    border: 1px solid;
    color:white;
}

.searchBtn:hover {
    transition: 1s;
    background: #FFB223;
    border: 1px solid;
    color:white;
}
